<section>
    <article class="donate">
        <h2>Help us to keep Festify running</h2>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden"
                   name="cmd"
                   value="_s-xclick">
            <input type="hidden"
                   name="hosted_button_id"
                   value="9K2UHUSSMRVFG">
            <input type="image"
                   src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
                   name="submit"
                   alt="PayPal - The safer, easier way to pay online!">
        </form>
    </article>
</section>