<footer>
    <div class="inner">
        <p itemprop="provider" itemscope itemtype="http://schema.org/Organization">
            ©
            <span itemprop="member"
                  itemscope
                  itemtype="http://schema.org/Person">
                <span hidden itemprop="name">Leo Bernard</span>
                <a href="https://leolabs.org/" target="_blank" itemprop="url">Leo</a>
            </span>,
            <span itemprop="member"
                  itemscope
                  itemtype="http://schema.org/Person">
                  <span hidden itemprop="name">Marcus Weiner</span>
                <a href="https://marcusweiner.de" target="_blank" itemprop="url">Marcus</a>
            </span> &
            <span itemprop="member"
                  itemscope
                  itemtype="http://schema.org/Person">
                  <span hidden itemprop="name">Moritz Gunz</span>
                <a href="https://github.com/NeoLegends" target="_blank" itemprop="url">Moritz</a>
            </span>
            2014-2018
        </p>

        <p class="right">
            Made with ❤️ in <a href="https://www.google.com/maps?q=Aachen" target="_blank">Aachen, Germany</a> /
            <a href="/disclaimer">Legal Notice</a> / <a href="/privacy">Privacy</a>
        </p>
    </div>
</footer>