<footer>
    <div class="inner">
        <p>
            © <a href="https://leolabs.org/" target="_blank">Leo Bernard</a>,
            <a href="https://marcusweiner.de" target="_blank">Marcus Weiner</a> &
            <a href="https://github.com/NeoLegends" target="_blank">Moritz Gunz</a> 2014-2018
        </p>

        <p class="right">
            Made with ❤️ in <a href="https://www.google.com/maps?q=Aachen" target="_blank">Aachen, Germany</a>.
            <a href="/impressum">Legal Notice</a>
        </p>
    </div>
</footer>