<section>
    <article class="social">
        <ul>
            <li>
                <a href="https://twitter.com/GetFestify" title="Follow us on Twitter">
                    <img class="twitter" src="/img/social/twitter.svg">
                </a>
            </li>
            <li>
                <a href="https://github.com/Festify" title="Check out the source">
                    <img class="github" src="/img/social/github.svg">
                </a>
            </li>
            <li>
                <a href="mailto:mail@festify.rocks?subject=Festify%20Feedback" title="Send us an Email">
                    <img class="email" src="/img/social/email.svg">
                </a>
            </li>
        </ul>
    </article>
</section>