<template>
    <div class="container">

        <form>
            <div class="row advanced-search">
                <div class="form-group col-md-12">
                    <div class="input-group mb-2">
                        <input v-model="search.text" v-on:keyup="filterEvents()" type="text" name="body" class="form-control" placeholder="Find your festival" autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text"><span class="oi oi-magnifying-glass"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <date-picker v-model="search.start"
                                     v-on:change="filterEvents()"
                                     :first-day-of-week="1"
                                     lang="en"
                                     format="dd-MM-yyyy"
                                     placeholder="Start date"
                                     input-class="form-control">
                        </date-picker>
                        <date-picker v-model="search.end"
                                     v-on:change="filterEvents()"
                                     :not-before="start"
                                     :first-day-of-week="1"
                                     lang="en"
                                     format="dd-MM-yyyy"
                                     placeholder="End date"
                                     input-class="form-control">
                        </date-picker>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <v-select multiple v-model="search.genres" @search:blur="filterEvents()" class="form-control" label="name" :options="options.genres"></v-select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="input-group">

                        <v-select class="form-control" label="name" v-model="search.venue" :filterable="false" :options="options.venues" @search:blur="filterEvents()" @search="filterVenues">
                            <template slot="no-options">
                                Find festivals by it's venue
                            </template>
                            <template slot="option" slot-scope="option">
                                <div class="d-center">
                                    <img :src='option.id'/>
                                    {{ option.name }}
                                </div>
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                <div class="selected d-center">
                                    <img :src='option.id'/>
                                    {{ option.name }}
                                </div>
                            </template>
                        </v-select>

                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="card-deck">
                <div class="card" v-for="(event, index) in events">
                    <img v-if="event.attributes.logo_image" :src="event.attributes.logo_image" class="card-img-top" :alt="event.attributes.name" :title="event.attributes.name">
                    <div class="card-body">
                        <h2 class="card-title">{{ event.attributes.name }}</h2>
                        <p>{{ findVenue(event.relationships.venue.data.id)[0].attributes.name }}</p>
                    </div>
                    <div class="card-footer" v-if="event.attributes.dates">
                        <small class="text-muted">{{ event.attributes.dates[0].starts_at | moment("LLL") }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import Vue from 'vue';
    // import VueMoment from 'vue-moment';
    import moment from 'moment-timezone';
    import DatePicker from 'vue2-datepicker';
    import vSelect from 'vue-select'

    export default {

        data() {
            return {
                events: [],
                venues: [],
                locations: [],
                genres: [],
                search: {
                    text: '',
                    start: '',
                    end: '',
                    genres: '',
                    venue: ''
                },

                options: {
                    genres: [],
                    venues: []
                },

                shortcuts: [
                    {
                        text: 'Today',
                        start: new Date(),
                        end: new Date()
                    }
                ]
            };
        },

        created() {
            this.fetchEvents();
            this.fetchGenres();
        },

        components: {
            DatePicker,
            vSelect
        },

        methods: {
            fetchEvents() {
                var query = "?include=venue,venue.location&cursor=0&limit=16";
                if (this.search.text) {
                    query = query + "&filter[name]=" + this.search.text;
                }

                if (this.search.start) {
                    query = query + "&filter[starts_after]=" + moment(this.search.start, "DD-MM-YYYY").format('X');
                } else {
                    query = query + "&filter[starts_after]=" + moment().format('X');
                }

                if (this.search.end !== '') {
                    query = query + "&filter[ends_before]=" + moment(this.search.end, "DD-MM-YYYY").format('X');
                }

                if (this.search.venue !== '') {
                    query = query + "&filter[venue]=" + this.search.venue.id;
                }

                if (this.search.genres !== '') {
                    var genres = '';
                    for (var i = 0; i < this.search.genres.length; i++) {
                        genres += this.search.genres[i].id + ',';
                    }

                    query = query + "&filter[genres]=" + genres;
                }

                axios.get('api/v1/events' + encodeURI(query), { headers: { 'Accept-Language': 'en' } }).then((res) => {
                    this.events = res.data.data;

                    for (var i = 0; i < res.data.included.length; i++) {
                        if (res.data.included[i].type === 'venues') {
                            this.venues.push(res.data.included[i]);
                        } else if (res.data.included[i].type === 'locations') {
                            this.locations.push(res.data.included[i]);
                        }
                    }

                    // var i = 0;
                    // for (i = 0; i < this.events.length; i++) {
                    //     this.events[i].venue = this.findVenue(this.events[i].relationships.venue.data.id);
                    //     this.events[i].location = this.findLocation(this.events[i].venue[0].relationships.location.data.id);
                    // }

                });
            },

            fetchGenres() {
                axios.get('api/v1/genres?fields[genres]=name', { headers: { 'Accept-Language': 'en' } }).then((res) => {
                    var genres = res.data.data;
                    this.options.genres = [];

                    var i = 0;
                    for (i = 0; i < genres.length; i++) {
                        this.options.genres.push({ id: genres[i].id, name: genres[i].attributes.name });
                    }
                });
            },

            fetchVenues(search, loading) {
                loading(true);
                this.options.venues = [];

                axios.get('api/v1/venues?filter[name]=' + search, { headers: { 'Accept-Language': 'en' } }).then((res) => {
                    var venues = res.data.data;

                    if (venues != null) {
                        var i = 0;
                        for (i = 0; i < venues.length; i++) {
                            this.options.venues.push({ id: venues[i].id, name: venues[i].attributes.name });
                        }
                    }

                    loading(false);
                });
            },

            filterVenues: _.debounce(function (search, loading) {
                this.fetchVenues(search, loading);
            }, 300),

            filterEvents: _.debounce(function () {
                this.fetchEvents();
            }, 300),

            findVenue: function(venueId) {
                return this.venues.filter((venue) => {
                    return venue.id.includes(venueId);
                });
            },

            findLocation: function(locationId) {
                return this.locations.filter((location) => {
                    return location.id.includes(locationId);
                });
            }
        },

        // computed: {
        //     findVenue: function(test){
        //         console.log(test);
        //         // return this.images.filter((image) => {
        //         //     return image.make.includes(this.search);
        //         // });
        //     }
        // }
    }

    // export default {
    //     components: { DatePicker },
    //     data() {
    //         return {
    //             time1: '',
    //             time2: '',
    //             shortcuts: [
    //                 {
    //                     text: 'Today',
    //                     start: new Date(),
    //                     end: new Date()
    //                 }
    //             ]
    //         }
    //     }
    // }
</script>