{{ partial "head" . }}
{{ partial "header" . }}

<section class="content">
    <article class="faqs">
        {{ .Content }}

        <ul>
            {{ range .Data.Pages }}
            <li>
                <h3 id="{{ .Title | urlize }}">{{ .Title }}</h3>
                <blockquote>{{ .Content }}</blockquote>
            </li>
            {{ end }}
        </ul>

        <p>Not satisfied? Send us an Email or ask us on Twitter @<a href="https://twitter.com/GetFestify">GetFestify</a></a></p>
    </article>
</section>

{{ partial "social" . }}

{{ partial "footer" . }}
{{ partial "foot" . }}
