
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #1abc9c;
$brand-info: #3498db;
$brand-success: #16a085;
$brand-warning: #f1c40f;
$brand-danger: #e74c3c;

//grey
$darker-grey: #2c3e50;
$dark-grey: #34495e;
$medium1-grey: #7f8c8d;
$medium2-grey: #95a5a6;
$light-grey: #ebebeb;
$lighter-grey: #f7f8fa;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $dark-grey;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $medium1-grey;
$btn-default-bg: $lighter-grey;
$btn-default-border: $light-grey;

// Inputs
$input-border: $light-grey;
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: $medium1-grey;

// Panels
$panel-default-heading-bg: #fff;
