@import "variables"

footer
  background-color: $background-dark

  .inner
    display: flex
    align-items: center

    box-sizing: content-box
    height: 4em
    margin: auto
    max-width: $site-width
    padding: 1.5em 3em

  a
    text-decoration: underline

  p
    margin: 0

    &.right
      margin-left: auto