@import "variables"

article.social
  display: flex
  justify-content: center
  align-items: center

  img
    display: block
    height: 2em

    &.email
      height: 2.7em

    &.twitter
      margin-top: .3em

  li:first-of-type
    margin-right: 2em

  ul
    display: flex