@import "variables"

article .steps
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 6em

  img
    width: 100%
    border-radius: 50%
    border: 0.2em solid rgba(255, 255, 255, 0.3)
    margin-bottom: 1em

  dd
    margin: 0
    text-align: center

@media (max-width: $breakpoint-medium)
  article .steps
    margin: auto
    max-width: 300px
    grid-template-columns: 1fr