.box {
  padding: 15px;
  background-color: #fff;
  border: 1px solid $gray-400;

  h4 {
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $gray-400;
  }

  .list-group {

    .list-group-item {
      border: 0;
      padding: 0;
      border-radius: 0;
      margin-bottom: 20px;

      .list-item-title {
        color: $gray-500;
      }

      .list-item-content {
        color: $gray-700;
        font-weight: bold;
      }
    }
  }
}

.name {
  h1 {
    text-align: center;
  }
}