.input-group {

  .input-group-btn {

    .btn {
      border-width: 1px 0 1px 1px;
    }
  }

  .form-control {
    border-width: 1px 1px 1px 0;
  }
}

.form-control {
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}