.navbar {
  //line-height: 0;
  //border-radius: 0;
  border-color: $gray-400;

  .search {

    .form-control {
      color: $gray-600;
      border-color: $gray-400;
      background-color: $gray-300;
    }
  }
}

.navbar-entity {
  //margin-bottom: 0;
  //text-align: center;
  border-width: 1px 0;
  border-color: $gray-400;

  .nav {
    //float: none;
    //text-align: left;
    //display: inline-block;

    > .nav-item {
      margin: 0 12px;

      > a {
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 25px;
        color: $gray-600;

        &:focus {
          background-color: transparent;
        }
      }

      a:hover,
      &.active a {
        color: $gray-800;
        padding-bottom: 23px;
        background-color: transparent;
        border-bottom: theme-color("primary") 2px solid;
      }
    }
  }
}
