.spotlight {
  margin-top: 76px;

  .spotlight-background {
    height: 365px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;

    .spotlight-info {
      color: #fff;
      display: inline-block;

      .spotlight-logo {
        width: 150px;
        height: 150px;
        padding: 20px;
        margin-top: 75px;
        border-radius: 100px;
        display: inline-block;
        background-color: #fff;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h1 {
        font-size: 26px;
        margin-bottom: 5px;
        //text-shadow: -1px 0 $gray-800, 0 1px $gray-800, 1px 0 $gray-800, 0 -1px $gray-800;
        text-rendering: optimizelegibility;
      }

      h2 {
        margin: 0;
        font-size: 20px;
        //text-shadow: 2px 1px 0 #000;
      }

      .spotlight-count {
        padding: 10px 0;
        border-top: 1px solid #fff;
        //text-shadow: 2px 1px 0 #000;

        .spotlight-count-box:first-child {
          border-right: 1px solid #fff;
        }
      }
    }
  }
}