.v-select {
  width: 100%;

  input[type=search],
  input[type=search]:focus {
    height: auto !important;
  }

  .dropdown-toggle {
    //padding: $input-padding-y $input-padding-x !important;
    font-size: $font-size-base !important;
    line-height: $input-line-height !important;
    color: $input-color !important;
    background-color: $input-bg !important;
    background-clip: padding-box !important;
    border: $input-border-width solid $input-border-color !important;
  }

  .selected-tag {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: auto !important;
    line-height: normal !important;
  }
}