{{ partial "head" . }}
{{ partial "header" . }}

<section class="jumbo">
    <img src="/img/festify-logo.svg" alt="Festify Jumbo Logo">

    <h1>Get your Party started with Festify</h1>
    <p>
        Festify is a free Spotify-powered app that lets your guests
        choose which music should be played using their smartphones.
    </p>

    <div>
        <a class="btn mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" href="https://festify.us/?create">
            Create a party
        </a>
        <a class="btn mdc-button secondary mdc-button--raised" data-mdc-auto-init="MDCRipple"
           href="https://festify.us/?join">
            Join a party
        </a>
    </div>

    <div class="scroller">Learn more</div>
</section>

<section>
    <article class="as-seen-on">
        <h2>As seen on</h2>

        <div>
            {{ range .Site.Data.references.websites }}
            <a href="{{ .link }}" target="_blank">
                <img src="/img/as-seen-on/{{ .logo }}" alt="{{ .name }}">
            </a>
            {{ end }}
        </div>
    </article>
</section>

<section>
    <article class="steps">
        <h2>Using Festify is Easy</h2>
        <ul>
            <li>
                <img src="/img/steps/step1.jpg" alt="Create Party Screenshot">
                <p>You create a new party in your browser and get a party code</p>
            </li>
            <li>
                <img src="/img/steps/step2.jpg" alt="Join Party Screenshot">
                <p>Your guests enter the party code in their mobile browser</p>
            </li>
            <li>
                <img src="/img/steps/step3.jpg" alt="Party Queue Screenshot">
                <p>Everyone votes to decide which tracks should be played</p>
            </li>
        </ul>
    </article>
</section>

<section>
    <article class="screenshots">
        <img src="/img/tv.png" alt="TV Screenshot">
        <img src="/img/macbook-and-iphone.png" alt="MacBook and iPhone Screenshot">
    </article>
</section>

<section>
    <article class="features">
        <h2>Features</h2>

        <ul>
            <li class="feature">
                <div class="image">
                    <img src="/img/features/create.jpg" alt="Creating a Party">
                </div>

                <div class="description">
                    <h3>Super easy Setup</h3>
                    <p>
                        Creating a Party using Festify couldn't be simpler.
                        Just log in with your Spotify Premium Account and have fun.
                    </p>
                </div>
            </li>

            <li class="feature">
                <div class="image">
                    <img src="/img/features/spotify.jpg" alt="Festify is Spotify-Powered">
                </div>

                <div class="description">
                    <h3>Spotify-Powered</h3>
                    <p>
                        Festify uses Spotify's huge music library so your guests can
                        choose from millions of tracks. An internet connection and a
                        Spotify Premium account are all you need to get your next
                        Party started.
                    </p>
                </div>
            </li>

            <li class="feature">
                <div class="image">
                    <img src="/img/features/voting.jpg" alt="Democratic Voting">
                </div>

                <div class="description">
                    <h3>Democratic Voting</h3>
                    <p>
                        Your guests can vote for songs using their smartphones. The
                        more people vote for a track, the higher it moves up your queue.
                        Using this system, Festify will only play the music that your
                        guests like.
                    </p>
                </div>
            </li>

            <li class="feature">
                <div class="image">
                    <img src="/img/features/browsers.png" alt="Festify is Browser-Based">
                </div>

                <div class="description">
                    <h3>Browser Based</h3>
                    <p>
                        Festify is fully browser-based, so it can be used anywhere a
                        modern web browser can be. Playback is supported in Google Chrome
                        and Firefox.
                    </p>
                </div>
            </li>

            <li class="feature">
                <div class="image">
                    <img src="/img/features/tv-mode.jpg" alt="TV Mode">
                </div>

                <div class="description">
                    <h3>TV Mode</h3>
                    <p>
                        Festify features a TV Mode that is designed to look good on your
                        computer, notebook, TV, or projector. Fan art of each playing artist
                        from <a href="https://fanart.tv" target="_blank">Fanart.TV</a>
                        automatically appears in the background. If no fan art is available,
                        the TV Mode shows the current album cover.
                    </p>
                </div>
            </li>

            <li class="feature">
                <div class="image">
                    <img src="/img/features/admin-mode.jpg" alt="Admin Mode">
                </div>

                <div class="description">
                    <h3>Admin Mode</h3>
                    <p>
                        As the party host, you can control Festify using your Smartphone (or
                        from any other device) by logging in with the same Spotify account that
                        was used to create the party. Admin Mode includes skipping, deleting
                        tracks from the queue and pausing the player if needed.
                    </p>
                </div>
            </li>

            <li class="feature">
                <div class="image">
                    <img src="/img/features/fallback.jpg" alt="Fallback Playists">
                </div>

                <div class="description">
                    <h3>Fallback Playlists</h3>
                    <p>
                        Sometimes, your guests are too lazy to add new tracks to your
                        party queue, but we've got you covered. When you create a Festify
                        Party, you can add a Fallback Playlist from your Spotify Account
                        that will be played if no other songs are queued. You can also
                        shuffle the list so that you don't always start with the same track.
                    </p>
                </div>
            </li>
        </ul>
    </article>
</section>

{{ partial "social" . }}
{{ partial "donate" . }}

{{ partial "footer" . }}
{{ partial "foot" . }}
