{{ partial "head" . }}
{{ partial "header" . }}

<section class="jumbo">
  <img src="/img/festify-logo.svg" alt="Festify Jumbo Logo">

  <h1>Get your Party started with Festify</h1>
  <p class="jumbo">
    Festify is a free Spotify-powered app that lets your guests
    choose which music should be played using their smartphones.
  </p>

  <div>
    <a class="btn mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" href="https://festify.us/?create">
      Create a new party
    </a>
    <a class="btn mdc-button secondary mdc-button--raised" data-mdc-auto-init="MDCRipple" href="https://festify.us/?join">
      Join a party
    </a>
  </div>

  <div class="scroller">Learn more</div>
</section>

{{ partial "footer" . }}
